<!doctype html>
<html lang="en" ng-app="BBYCA-SRE" >
<head>
    <meta charset="utf-8">
    <title>BestBuyCanada - SRE - We are hiring!</title>    
    <link href="./css/default.css" rel="stylesheet">
  </head>
<body>
    <div class="container">
        <img class="logo" src="./img/2000px-Best_Buy_Logo.svg.png" alt="My_Logo">
        
        <h1 class="center"><%= msg %></h1>
	<p>Updated</p>
    </div>
</body>
